[submodule "vendor/stm32f4xx-hal-driver"]
	path = vendor/stm32f4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "vendor/cmsis-device-f4"]
	path = vendor/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "vendor/cmsis_core"]
	path = vendor/cmsis_core
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "test/vendor/googletest"]
	path = test/vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/cmsis-device-f2"]
	path = vendor/cmsis-device-f2
	url = https://github.com/STMicroelectronics/cmsis_device_f2.git
